#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
