{
  "report-dir": "./coverage",
  "include": ["src/**/*.{js,jsx,ts,tsx}"],
  "exclude": ["tests/**/*.{js,jsx,ts,tsx}"],
  "reporter": ["lcov", "text"],
  "sourceMap": false,
  "instrument": false,
  "temp-dir": "./coverage/.nyc_output"
}
 