.button {
  border-radius: 10px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #06b97a;;
  cursor: pointer;
  transition: 0.25s;
  height: 40px;
  width: 200px;
  margin-top: 10px;
}

.button:hover {
  background-color: #ff9ab0;
}