.form-checkbox {
  border: solid gray 1px;
  transition: 0.25s;
  height: 40px;
  width: 400px;
  border-radius: 10px;
  padding: 7px 5px;
  font: inherit;
  box-sizing: border-box;
  text-align: left;
}

.form-checkbox:hover {
  outline: none;
  border: solid #06b97a 1px;
  box-shadow: 0 0 3px #06b97a;
}

.form-chechbox-input {
  margin-left: 15px;
  vertical-align: text-bottom;
  cursor: pointer;
}

.form-chechbox-input:checked {
  filter: hue-rotate(310deg) brightness(110%) contrast(95%);
}
