.home-search-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home-search {
  border: solid gray 1px;
  transition: 0.25s;
  height: 38px;
  width: 300px;
  border-radius: 10px;
  padding: 1px 5px;
  margin: 10px;
  font: inherit;
}

.home-search:focus {
  outline: none;
  border: solid #06b97a 1px;
  box-shadow: 0 0 3px #06b97a;
}

.home-search::-webkit-search-cancel-button{
  filter: invert(43%) sepia(85%) saturate(1288%) hue-rotate(127deg) brightness(98%) contrast(95%);
}